header div {
    
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    border-spacing: 20px;
    background-color: black;
    text-decoration:solid;
    width: 400px;
    height: 100px;
    justify-items: center;
    text-align: center;
    font-size: x-large;
    
}

body {
    background-image: url("../images/photo-1444927714506-8492d94b4e3d.jpg");
    
    
}

header{
    display: flex;
    gap: 30px;
}

