header div {
    
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: red;
    background-color: black;
    text-decoration: none;
    justify-content: center;
}

body {
    background-image: url("../images/photo-1444927714506-8492d94b4e3d.jpg");
    
    
}

a {
    color: green;
}